<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/a4Styles.css">
  </head>
  <body>
    <page size="A4" layout="landscape">
      <div style='width: 100%;'>
        <img style='position: absolute; top: -5%; width:400px' src='img/ri_3.png'>
        <img style='float: right; width: 800px; margin-top: 25px;' src='img/ri_2.png'>
      </div>
      <hr style='width: 83%; position: absolute; top: 30%;'>
      <div style='width:100%; text-align: center; position: absolute; top: 50%;'>
        <p style='font-family: arial; font-size: 400%; margin-right:20%'> GILBERTO DE CARVALHO </p>
      </div>
      <hr style='width: 83%; position: absolute; bottom: -5%;'>
      <div style='width: 83%; position: absolute; bottom: -40%;'>
        <img style='position: absolute; bottom: 0%; width: 700px;' src='img/ri_9.png'>
        <img style='float:right; width: 400px;' src='img/ri_8.png'>
      </div>
    </page>
  </body>
</html>
