<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body style='height: 100vh; overflow: hidden; display: flex; flex-direction: column;'>
    <div style='width: 100%;  text-align: center;'>
      <img style='float: left;' src='img/ri_3.png'>
      <img style='float: right; width: 500px;' src='img/ri_2.png'>
    </div>
    <hr style='width: 100%; position: absolute; top: 20%;'>
    <div style='width: 100%;  text-align: center; position: absolute; top: 30%;'>
      <p style='font-family: arial; font-size: 500%;'> $value </p>
    </div>
    <hr style='width: 100%; position: absolute; bottom: 20%;'>
    <div style='width: 100%;  text-align: center; position: absolute; bottom: 0;'>
      <img style='float: left; width: 500px;' src='img/ri_9.png'>
      <img style='float: right; margin-right: 10px;' src='img/ri_8.png'>
    </div>
  </body>
</html>
